.end-game-model-holder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
}

.end-game-model {
    background-color: rgba(12, 12, 12, .75);
    border-radius: 1em;
    width: min(100%, 768px);
    margin: auto;
    padding: 1em;
}

.end-game-model p {
    font-size: 2em;
}

.end-game-model__button-holder {
    display: flex;
    justify-content: center;
    flex-direction: var(--button-flex-direction);
    gap: 2em;
}


.end-game-model__button-holder button {
    border-color: var(--main-accent-color);
}