#guess-svg {
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}

line {
    stroke-width: 5px;
    stroke: var(--main-accent-color);
    stroke-opacity: .9;
}

line.is-correct {
    stroke: green;
}

line.is-incorrect {
    stroke: red;
}