.game-scene {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game-scene__reveal-button {
    position: absolute;
}

.button-connect {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
}