.game-scene {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game-scene-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
}

.game-scene-background div {
    position: absolute;
    bottom: 0;
    width: 100%;    
    justify-content: center;
    display: flex;
}

.game-scene-background img {
    max-width: min(475px, 95%);
    position: absolute;
    bottom: 75px;    
    padding-right: 20px;
    filter: blur(1.5px) contrast(0.9) sepia(0.2);
}

.game-scene__reveal-holder {
    position: absolute;
    display: flex;
    width: 100%;
    top: calc(100vh - 100px);
    height: 100px;
}

.game-scene__reveal-button {
    margin: auto;
    font-size: 1.5em;
}