.button-connect {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
}

.group-button-holder {
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;
}

.group-button-holder button {
    width: 18em;
}

.group-button-holder button:hover {
    outline: 3px solid white;
}

.group-button-holder > .guessed-button {
    outline: 2px solid white;
}

.group-button-holder > .selected-button {
    outline: 5px solid white;
}

@media (max-width: 1020px) {
    .group-button-holder button {
        font-size: 10px;
        width: 15em;
    }
}

@media (max-height: 500px) {
    .group-button-holder {
        margin: 0;
    }
}