.button-connect {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
}

.group-button-holder {
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1em;
}

.group-button-holder button {
    width: 285px;
}

.group-button-holder button:hover {
    outline: 2px solid white;
}

.group-button-holder > .selected-button {
    outline: 4px solid white;
}